env/
scripts/
__pycache__/
*.pyc
*.log
*.bin.gz
vectors.csv
Three.js/node_modules/
Three.js/package.json
Three.js/package-lock.json
Three.js/car yt.js
~$klářská práce.docx
~$ojekt BP DP - Valerij Šlovikov.docx
Sphere-parallax/node_modules/
/GPU Benchmark/node_modules
~WRL0005.tmp
